<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>发布留言板</title>
</head>
<body>
  <div>
    <a href="/">返回</a>
  </div>
  <form action="/publish" method="POST">
    <fieldset>
      <legend>发布留言</legend>
      <div>
        <label for="name">姓名</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div>
        <label for="content">内容</label>
        <textarea name="content" id="content" cols="30" rows="10" required></textarea>
      </div>
      <div>
        <button type="submit">发布</button>
        <button type="reset">重置</button>
      </div>
    </fieldset>
  </form>
</body>
</html>
